messages:
  noPermission: "{message}You don't have permission to use this command."#{message|title|action|subtitle}
  usage: "{message}Usage: /rtp <channel>"
  unknownType: "{message}Unknown teleport type: {type}"
  unknownChannel: "{message}Channel not found or has invalid configuration: {channel}"
  noMinPlayers: "{message}The server does not have the required number of players"
  noPlayerInWorld: "{message}There are no players in the world!"
  cooldown: "{message}Wait {time} to teleport"
  reloadMessage: "{message}Plugin reloaded"

cooldown: 15 #secconds

channels:
  min:
    type: DEFAULT
    world: world
    maxRange: 5000
    minRange: 10
    message: "{title}MINIMAL TELEPORT {message}You teleported to x:{x} y:{y} z{z} in world: {world}"#{message|title|action|subtitle}
  normal:
    type: DEFAULT
    world: world
    maxRange: 10000
    minRange: 10
    message: "{message}You teleported to x:{x} y:{y} z{z} in world: {world}"#{message|title|action|subtitle}
  max:
    type: DEFAULT
    world: world
    maxRange: 20000
    minRange: 10
    message: "{message}You teleported to x:{x} y:{y} z{z} in world: {world}"#{message|title|action|subtitle}
  near:
    type: NEARBY_PLAYERS
    world: world
    maxRange: 100
    minRange: 10
    minOnline: 3
    message: "{message}You are teleported near the player {targetPlayer} to x:{x} y:{y} z{z} in world: {world}"#{message|title|action|subtitle}
  biome:
    type: BIOME
    world: world
    biomes:
      - "DESERT"
      - "DESERT_HILLS"
    maxRange: 5000
    minRange: 10
    message: "{message}You are teleported to a biome:{biome}"#{message|title|action|subtitle}
blacklistedBlocks:
  - "LAVA"
  - "WATER"
cacheSett:
  range: 30000
  pointCount: 10000
  pointBetween: 128
  world: world
  minTPS: 18